/*--CSS--*/
*{
    font-family: 'Domine', serif;
    text-decoration: none; !important;
} 
.nopadding {
padding: 0; !important;
margin: 0; !important;
}
.btnmarcar2 {
    float: left;
}
.btnnavbarmarcarmesa {
    background-color: skyblue; !important;
    color: aliceblue; !important;
    border-color: aliceblue; !important;
}
.btnnavbarmarcarmesa:hover {
    background-color: cadetblue; !important;
    color: aliceblue; !important;
    border-color: cadetblue; !important;
    text-decoration: none; !important;
}
.btnnavbarmarcarmesa a {
    color: aliceblue; !important;
}

nav .sbtnnav li a .a{
    color: aliceblue; !important;
}
.alitext a{
font-family: 'Domine', serif;
    margin-right: 10px;
    margin-left: 10px;
    color: #90c6e2; !important;
}
.texto2{
    width: 100%;
}
.carousselheight {
    height: 600px;
}
.nopaddingleft {
padding-left: 0; !important;
margin-left: 0; !important;
}
.navbar-custom {
     background-color: #5c3100;
}

.btnbackground {
    background-color: aliceblue;
    vertical-align: bottom;
}
.textaligncenter{
    text-align: center;
}
.footer {
	height: 108px;
	width: 100%;
	background-color: #e1d3b9;
	position: fixed;
  left: 0;
  bottom: 0;
}
.footerball {
	text-align: center;
	height: 65px;
	width: 100%;
	padding-top:0;
	padding-bottom: 20px;
	position: absolute;
}
.footer h1 {
	font-family: arial;
	color: #4c3d2a;
	font-size: 15px;
	top: 0;
	padding-left: 5px;
	text-align: center;
	font-weight: 	bold;
}
/* blyat */
.body{
    margin:0px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.bg-brown{
    background-color: #5c3113;
}
.col{
    padding: 0px !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.fakefooter {
	height: 130px;
	width: 100%;
}
.fakeheader {
    100px;
    width: 100%;
}
@media screen and (min-width: 992px) {

    #soempequeno{
        display: none;
    }
}
@media screen and (max-width: 992px) {

    #marcarmesasai{
        display: none;
    }
}
/*--css luis--*/
.body{
    margin:0px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.bg-brown{
    background-color: #5c3113;
}
.col{
    padding: 0px !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.divtop{
    width: 100%;
    height: 40px;
}
.divleft{
    width: 40%;
    height: 300px;
    float: left;
}
.divright{
    width: 70%;
    height: 300px;
    float: left;
}
@media screen and (min-width: 992px) {
  
    #soempequeno{
        display: none;
    }
    .divdiscriçaoleft {
        text-align: left;
        margin-left: 10px;
        margin-top: 20px;
    }
    .texto2 a {
        font-size: 30px;
    }
     .texto2 h1 {
        font-size: 50px;
    }
    .btnmarcar a {
        font-size: 30px;
    }
    .btnmarcar1 a {
        font-size: 20px;
    }
       .divdiscriçao {
    text-align: left;
    width: 60%;
    height: 50px;
    margin-top: 100px;
    margin-left: 10px;
        float: left;
}
}
@media screen and (max-width: 992px) {
    
    #marcarmesasai{
        display: none;
    }
    .divdiscriçao {
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: 25px;
        display: none;
}
    .divdescriçaotlm {
        height: 200px;
    }
    .divdiscriçaoleft {
        text-align: center;
        height: 100px;
        padding: 20px;
    }
}
